h2{
  text-align: center;
}

.tableCellDisplay{
  width:50px;
}

#timerDiv{
  width:100%;
  text-align: center;

  font-size:40px;

}

.menuControlsExt{
  width:100%;
  text-align: center;
  .menuControls{
    margin-left:auto;
    margin-right:auto;
    width:50px;
  }
}

.totalRecordedTimeSection{
  h3{
    text-align: center;
  }
  a{
    text-align: center;
  }
}
